<form
  nz-form
  class="form_login"
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(loginForm)"
>
  <div class="logo">
    <img src="assets/images/logo-actual.png" />
    <span><b>Sistema de Homologación Universidad Técnica de Manabí</b></span>
  </div>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          name="correo"
          nz-input
          placeholder="Usuario"
          #correo="ngModel"
          [(ngModel)]="usuarioLogin.correo"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
      </nz-input-group>
      <small
        class="invalid-feedback d-block"
        *ngIf="!correo.valid && correo.touched"
        >El correo no es válido</small
      >
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          name="contrasena"
          nz-input
          placeholder="Contraseña"
          #contrasena="ngModel"
          [(ngModel)]="usuarioLogin.contrasena"
          required
        />
      </nz-input-group>
      <small
        class="invalid-feedback d-block"
        *ngIf="!contrasena.valid && contrasena.touched"
        >La contraseña no es válida</small
      >
    </nz-form-control>
  </nz-form-item>
  <button
    type="submit"
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
    [disabled]="loginForm.invalid"
  >
    Iniciar Sesión
  </button>
  <button
    nz-button
    nzType="primary"
    class="login-form-button login-form-margin btn-registro"
    (click)="redireccionarRegistro($event)"
  >
    Registrarse (Cambio de Universidad)
  </button>
</form>
