<h1>Solicitudes de Cambio de Carrera</h1>

<hr />

<nz-tabset>
  <nz-tab nzTitle="En Revisión"
    ><nz-spin
      class="example"
      nzSimple
      [nzSize]="'large'"
      *ngIf="!pagina_cargada"
    ></nz-spin>

    <nz-table
      #tablaSolicitudesEnRevision
      [nzData]="solicitudes_separadas.en_revision"
      *ngIf="pagina_cargada"
      nzSize="small"
      [nzPageSize]="5"
      [nzScroll]="{ y: '55vh', x: 'auto' }"
    >
      <thead>
        <tr>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Escuela Origen</th>
          <th>Escuela Destino</th>
          <th>Modalidad</th>
          <th>Fecha de Creación Solicitud</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of tablaSolicitudesEnRevision.data">
          <td>{{ data.apellidos }}</td>
          <td>{{ data.nombres }}</td>
          <td>{{ data.escuela_origen }}</td>
          <td>{{ data.escuela_destino }}</td>
          <td>{{ data.modalidad }}</td>
          <td>{{ data.fc }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              (click)="detailSolicitudes(data.id_solicitud)"
            >
              Detalles
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>

  <nz-tab nzTitle="Pendientes"
    ><nz-spin
      class="example"
      nzSimple
      [nzSize]="'large'"
      *ngIf="!pagina_cargada"
    ></nz-spin>

    <nz-table
      #tablaSolicitudesPendientes
      [nzData]="solicitudes_separadas.pendientes"
      *ngIf="pagina_cargada"
      nzSize="small"
      [nzPageSize]="5"
      [nzScroll]="{ y: '55vh', x: 'auto' }"
    >
      <thead>
        <tr>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Escuela Origen</th>
          <th>Escuela Destino</th>
          <th>Modalidad</th>
          <th>Fecha de Creación Solicitud</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of tablaSolicitudesPendientes.data">
          <td>{{ data.apellidos }}</td>
          <td>{{ data.nombres }}</td>
          <td>{{ data.escuela_origen }}</td>
          <td>{{ data.escuela_destino }}</td>
          <td>{{ data.modalidad }}</td>
          <td>{{ data.fc }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              (click)="detailSolicitudes(data.id_solicitud)"
            >
              Detalles
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>

  <nz-tab nzTitle="Informes Completados"
    ><nz-spin
      class="example"
      nzSimple
      [nzSize]="'large'"
      *ngIf="!pagina_cargada"
    ></nz-spin>

    <nz-table
      #tablaSolicitudesInformesCompletados
      [nzData]="solicitudes_separadas.informes_compleados"
      *ngIf="pagina_cargada"
      nzSize="small"
      [nzPageSize]="5"
      [nzScroll]="{ y: '55vh', x: 'auto' }"
    >
      <thead>
        <tr>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Escuela Origen</th>
          <th>Escuela Destino</th>
          <th>Modalidad</th>
          <th>Fecha de Creación Solicitud</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of tablaSolicitudesInformesCompletados.data">
          <td>{{ data.apellidos }}</td>
          <td>{{ data.nombres }}</td>
          <td>{{ data.escuela_origen }}</td>
          <td>{{ data.escuela_destino }}</td>
          <td>{{ data.modalidad }}</td>
          <td>{{ data.fc }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              (click)="detailSolicitudInformesCompletados(data.id_solicitud)"
            >
              Detalles
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
