nz-select {
  max-width: 20vw;
}

nz-label {
  width: 9vw;
}

[nz-form] {
  max-width: 60vw;
}

.scrollable-container {
  height: 88vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

.background {
  padding-top: 60px;
  height: 300px;
  background-image: url(//zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg);
}

.alerta {
  margin-bottom: 20px;
}
