<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a [routerLink]="['/configuracionAdmin/usuarios']">
        <img src="assets/images/logo-actual.png" alt="logo" />
        <h1>Sistema de Homologación</h1>
      </a>
    </div>

    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Usuarios" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/configuracionAdmin/usuarios']"
              >Ususarios del Sistema</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/configuracionAdmin/ingresarUsuario']"
              >Crear Usuario</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Cargos" nzIcon="audit">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/configuracionAdmin/cargos']"
              >Cargos del Sistema</a
            >
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/configuracionAdmin/ingresarCargo']"
              >Crear Cargo</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Estudiantes Ext." nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/configuracionAdmin/estudiantesExternos']"
              >Estudiantes Ext.</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Sesión" nzIcon="logout">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/configuracionAdmin/logout/1']">Cerrar Sesión</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
